<div class="registrations">
  <%= form_for(@registration) do |f| %>
      <% if @registration.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

            <ul>
              <% @registration.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="row">
        <div class="col-md-3">
          <b>Name</b>
        </div>
        <div class="col-md-9">
          <input class="form-control" placeholder="Ernest Jenkins" name="name">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <b>Affiliated University</b>
        </div>
        <div class="col-md-9">
          <input class="form-control" placeholder="University of Worcester", name="affiliation">
        </div>
      </div>

      <%= f.hidden_field :content %>

      <br />
      <br />
      <div class="actions">
        <%= f.submit 'Register!'%>
      </div>
  <% end %>
</div>

<script>
  var formEl = $('.registrations').find('form');

  //load content
  (function () {
    var content = JSON.parse($('#registration_content').val() || '{}');
    formEl.find('[name="name"]').val(content.name);
    formEl.find('[name="affiliation"]').val(content.affiliation);
  })();

  //save content on submission
  formEl.on('submit', function (e) {
    var content = {
      name: $(this).find('[name="name"]').val(),
      affiliation: $(this).find('[name="affiliation"]').val()
    };

    $('#registration_content').val(JSON.stringify(content));
  });
</script>
